@page
@model Ibas.MenuApp.Pages.ContactInfoModel
<div class="contact-info">
    <h2>Kontakt Karen</h2>
    <p>Navn: Karen</p>
    <p>Email: <a href="mailto:karen@internemail.com">karen@internemail.com</a></p>
    <p>Telefon: 1234 5678</p>
</div>
@{
    ViewData["Title"] = "Kontakt Karen";
    ViewData["ActivePage"] = "ContactInfo";
    
}
