@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45 </h1>
    <table>
        <tr> <th>Month</th>
            <th>Savings</th>
            </tr>
           
        
    </table>
</div>
